<div class="build__step build__step__review {% if active %}actionable active{% endif %}">
  <div class="build__step__header">
    <span>Review</span><br>Kit Picks
  </div>
  <div class="build__step__body">
    <ol class="build__step__review__picks">
      <!-- These are generated via javascript -->
    </ol>
  </div>
  <div class="build__step__footer">
    <label for="quantity" class="build__step__label">Quantity</label>
    <input type="number" name="quantity" class="build__step__quantity" value="1">
  </label><button class="build__step__add btn" disabled>Add To Cart</button>
  </div>
</div>
